<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
	<meta charset="UTF-8">
	<title>New Project Form</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">


</head>
	
	<body>
	

	
		<div class="container">
			<nav th:replace="layouts :: navbar"></nav>
			<h3>Employee Directory</h3>
			<hr>
			
			<!--  Add New Employee Button -->
			<a th:href="@{/employees/new}"
				class="btn btn-primary btn-sm mb-3"> 
				Add Employee 
			</a> 
			<br/>
			
			<table class="table table-bordered table-striped">
				<thead class="thead-dark">
					<tr>
						<th>First Name</th>
						<th>Last Name</th>
						<th>Email</th>
					</tr>
				</thead>		
				<tbody>
					<tr th:each="aEmployee : ${employees}">
						<td th:text="${aEmployee.firstName}"/>
						<td th:text="${aEmployee.lastName}"/>
						<td th:text="${aEmployee.email}"/>
					</tr>
				</tbody>
			
			</table>
		</div>
	</body>
	
</html>
